# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/

# Environment files
.env
.env.local

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log

# Production files
*.zip
*.tar.gz
